body {
    margin: 0;
}

.container {
    padding-bottom: 50px;
}

.center {
    justify-content: center;
}

@keyframes navBarStick {
    from {background-color: none;}
    to {background-color: black;}
}

.nav {
    position: absolute;
    width: 100%;
    padding: 20px !important;
    background-color: none;
    transition: ease .75s;

    z-index: 1;
}

.nav a {
    color: white;
}

.nav-stick {
    transition: ease .75s;
    background-color: black;
    position: fixed;
    padding: 5px !important;
    margin-left: 0px;
    align-items: center;
    opacity: 1;
}

.technicalExperienceSection {
    background-color: #262626;
    color: white;
}

.nonTechnicalExperienceSection {
    background-color: #f0f0f0;
    color: black;
}

.headerSection {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;

    background-image: url("Images/DesertStars.jpg");
    background-size: cover;
    background-position: top;
}

.contactInfoSection {
    background-color: white;
}

.contactInfoSection h2, .contactInfoSection p {
    color: black;
}

/* .backgroundImage {
    

    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;

    filter: brightness(.75);
} */

.headerText {
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    height: 100%;
}

.headerText h1 {    
    font-size: 100px;
    font-weight: 500;
}

.headerText h2 {
    font-size: 60px !important;
    font-weight: 300 !important;
}



* {
    font-family: Arial, Helvetica, sans-serif;
  }

  h1 {
      margin: 0;
      text-align: center;
  }

  h2 {
      font-size: 50px !important;
      margin: 30px 0 20px !important;
      font-weight: 600 !important;
      text-align: center;
  }

  .subHeading {
      font-size: 30px !important;
      font-weight: 700;
  }

  p {
      font-size: 18px !important;
  }

  footer {
      height: 80px;
      background-color: #262626;
  }

  body > div {
      position: relative;
  }

  body > div > span {
      position: absolute;
      top: -50px;
  }