@keyframes navBarStick {
    from {
        background-color: none;
    }

    to {
        background-color: black;
    }
}

nav.nav {
    transition: ease .75s;
    padding: 50px 50px !important;
    background-color: var(--medium-blue) !important;
    position: fixed !important;
    width: 100%;
    display: flex;
    justify-content: right;
    text-align: center;
}

nav.nav-stick {
    transition: ease .75s;
    background-color: var(--very-dark-gray) !important;
    padding: 10px 30px !important;
}

.nav.nav-tablet {
    display: none;
}

@media (min-width: 768px) {
    .nav.nav-tablet {
        display: flex;
    }

    .nav.nav-mobile {
        display: none;
    }
}

.nav a {
    color: white;
}

.nav-link:hover {
    color: var(--light-medium-gray) !important;
    font-weight: bold;
}

.nav-stick .nav-link:hover {
    color: var(--medium-light-blue) !important;
}

.nav-item>a {
    border-bottom: 3px solid transparent;
}

.fade {
    opacity: 1 !important;
}

.fade * {
    transition: 1s !important;
    opacity: 0 !important;
}

.fade-active * {
    transition: ease 1s !important;
    opacity: 1 !important;
}